@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>THIS SHOULD BE 10: @ViewBag.DistanceFirst</h2>
        <h2>THIS SHOULD BE 209: @ViewBag.DistanceSecond</h2>
    </div>
</div>