<div class="padded">
  <div class="center">
    <label>Put instructions here! Comma separated values only!</label>
  </div>
  <div class="center">
    <mat-form-field>
      <mat-label>Input</mat-label>
      <textarea matInput [formControl]="input" rows="3" cols="300" style=""></textarea>
    </mat-form-field>
  </div>
  <div class="center">
    <button mat-raised-button color="primary" (click)="getDistance()">Calculate!</button>
  </div>
  <div class="center">
    <label>
      Output:
      <mat-card>{{output}}</mat-card>
    </label>
  </div>
</div>

