.center {
  display: flex;
  justify-content: center;
}

.padded {
    padding-top: 10%;
}

.border {
    border-style: solid;
    border: 1px;
    border-bottom-color:gray;
}

.field {
    width: 23.5em
}

textarea {
    width: 100%
}

button {
    margin: 1em;
}

mat-card {
    overflow: auto;
    text-align: center;
    min-width: 5em;
}
