<div class="padded">
  <hr width="500px" />
  <div class="center">
    <label>Put instructions here! Comma separated values only!</label>
  </div>
  <div class="center">
    <mat-form-field class="field">
      <textarea matInput [formControl]="input"></textarea>
    </mat-form-field>
  </div>
  <div class="center">
    <button mat-raised-button color="primary" (click)="getDistance()">Calculate!</button>
  </div>
  <div class="center">
    <label>
      Output:
    </label>
  </div>
  <div class="center">
    <mat-card>{{output}}</mat-card>
  </div>
  <hr width="500px" />
</div>

